* {
    font-family: 'Bubblegum Sans', cursive;
    color: gold;
}

html {
    height: 100%;
    width: 100%;
    background-color: #181D2C;
}

img {
    width: 75%;
    opacity: 100%;
}

nav {
    background-color: #87281F;
    grid-area: nav;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 40pt;
}

footer {
    background-color: #87281F;
    grid-area: foot;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.6fr 1.6fr 0.3fr;
    grid-template-areas: 
        "nav nav nav nav"
        "card1 card2 card3 card4"
        "card5 card6 card7 card8"
        "foot foot foot foot";
    grid-gap: 1%;
}

section {
    background-color: #6c7285;
    opacity: 80%;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10%;
}

.img-button-wrap {
    display: flex;
    justify-content: center;
    position: relative;

}
.img-button-wrap .share {
    background: transparent;
    border: none;
    position: absolute;
    top: 2%;
    left: 75%;
    color: gold;
    font-size: 20pt;
    cursor: pointer;
    border-radius: 5px;
    }

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2,
p {
    text-align: center;
    margin: 2%;
}

.request {
    border-radius: 10%;
    background: transparent;
    border: 1pt solid black;
}

.request:hover {
    background: grey;
    opacity: 50%;
    cursor: pointer;
}

label,
.new-cocktail {
    padding-right: 2%;
}


/* media queries */
@media screen and (max-width: 900px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: 0.5fr 1.6fr 1.6fr 0.3fr;
        grid-template-areas:
            "nav nav nav"
            "card1 card2 card3" 
            "card4 card5 card6"
            "card7 card8 card9"
            "foot foot foot";
        grid-gap: 1%;
    }
}
/* second at 600px 2 columns*/
@media screen and (max-width: 700px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: 0.5fr 1.3fr 1.3fr 1.3fr 1.3fr 0.3fr;
        grid-template-areas:
            "nav nav"
            "card1 card2" 
            "card3 card4"
            "card5 card6"
            "card7 card8"
            "foot foot";
        grid-gap: 1%;
    }
}

@media screen and (max-width: 450px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1.15fr 1.15fr 1.15fr 1.15fr 1.15fr 1.15fr 1.15fr 1.15fr 0.3fr;
        grid-template-areas:
            "nav"
            "card1"
            "card2" 
            "card3"
            "card4" 
            "card5" 
            "card6"
            "card7" 
            "card8"
            "foot";
        grid-gap: 1%;
    }
}
/* third at 400px? switch to flex?*/